*{margin: 0px;
  padding: 0px;}
#logo{width: 100%;
      height: 150px;
      background-color: rgb(235,235,235);
      }
#xiehui{float: left;
      margin-left: 40px;}
#logo .text1{white-space:nowrap; 
             width:12em;
             font-size: 50px;
             font-family: "华文行楷";
             text-overflow: hidden;
             margin: 0 auto;
             padding-left: 200px;
             padding-top: 10px;}
#logo .text2{white-space:nowrap; 
             width:12em;
             font-size: 50px;
             font-family: "华文行楷";
             text-overflow: hidden;
             margin: 0 auto;
             padding-left: 800px;
             padding-top: 10px;}
.hang{clear: both;
    width: 100%;
    height: 10px;
    background-color: white;
      }

#header,#header1{width: 100%;height: 50px;
   background-color: rgb(235,235,235);
     }
#head{height: 50px;
     width: 743px;
     margin: 0px auto;
     } 
#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7{
     float: left;
     width: 100px;
     height: 50px;
     margin-left: 5px;
     }
 #head ul li{display: none;
      height: 50px;
      width: 100px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      line-height: 50px;
      text-align: center; 
      border: 1px solid red;
      border-radius: 5px;
      background-color: rgb(235,235,235);
      }
  #head li a:hover{display: block;
            background-color: #4d94ec;
            height: 50px;
            width: 100px;
            color: black;
            border-radius: 5px;
            }
 #head ul li a{text-decoration: none;}
#head ul .clear{display: block;}
#nav1:hover #list1 li{display: block;}
#nav2:hover #list2 li{display: block;}
#nav3:hover #list3 li{display: block;}
#nav4:hover #list4 li{display: block;}
#nav5:hover #list5 li{display: block;}
#nav6:hover #list6 li{display: block;}
#nav7:hover #list7 li{display: block;}
.text{width: 1000px;
      margin: 0 auto;
      font-size: 20px;
      position: relative;
      z-index: -1;
      }
h2{text-align: center;
      }
.container{width: 1150px;height: 640px;
        background-color: rgb(235,235,235); 
         margin: 60px auto;
         position: relative;}

.container img{
    padding: 10px 10px 15px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    z-index: 1;} 
.container img:hover{transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -moz-transform:rotate(0deg);
           transform:scale(1.5);
           -webkit-transform:scale(1.5);
           -moz-transform:scale(1.5);
           z-index: 2;
           box-shadow: 10px 15px 15px #ccc;}  
.a1{top: 60px;
   left: 40px;
   transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);}
.a2{top: 60px;
   left: 420px;
   transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);}
.a3{top: 60px;
   left: 800px;
   transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);}
.a4{top: 350px;
   left: 40px;
   transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);}
.a5{top: 350px;
   left: 420px;
   transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);} 
.a6{top: 350px;
   left: 800px;
   transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);}                 
#header,#logo{position: relative;
              z-index: 2;}
#header1{position: fixed;
         z-index: 1;
         top: 0px;
         left: 0px;}

#foot{clear: both;
      width: 100%;
      height:100px; 
      background-color: rgb(235,235,235);
      text-align: center;
      line-height: 50px;
      }
   